<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teacher.scholat.dao.SchoolDao">
    <!--获取主页基本信息-->
    <select id="getSchoolInfo" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        s.id        schoolId,
        s.school_name schoolName,
        s.school_eng schoolEng,
        s.school_url schoolUrl,
        s.logo_url logoUrl,
        s.state state,
        s.school_domain schoolDomain,
        s.background_url backgroundUrl
        FROM
        school s
        WHERE
        s.id = #{schoolId}
    </select>
    <select id="countTeacher" resultType="Integer">
        SELECT count(0)
        FROM `teacher_profile` t,`school_unit` su
        WHERE t.unit_id=su.id
        AND t.unit_id IN (SELECT id FROM `school_unit` su WHERE su.school_domain=#{schoolDomain})
        <if test="state == 1">
            and t.state=1
        </if>
        <if test="state != 1">
            and t.state!=1
        </if>
    </select>
    <select id="countUnitTeacher" resultType="Integer">
        SELECT count(0)
        FROM teacher_profile t
        WHERE t.unit_id = #{unitId}
        <if test="state == 1">
            and t.state=1
        </if>
        <if test="state != 1">
            and t.state!=1
        </if>
    </select>
    <select id="listTeacherLocal" resultType="com.alibaba.fastjson.JSONObject">
        select
        t.id                                      id,
        t.username                                name,
        t.email                                   email,
        t.avatar                                  avatar,
        t.degree                                  degree,
        t.state                                   state,
        t.views                                   views,
        t.post                                    post,
        t.scholat_username                        scholat_username,
        t.pinyin                                  pinyin,
        t.domain_name                             domainName,
        t.edit_name                             editName,
        date_format(t.update_time, '%Y.%m.%d %T') update_time,
        date_format(t.create_time, '%Y.%m.%d %T') create_time,
        su.domain_name                             school_unit_domainName,
        su.unit_name                             unit_name,
        su.id                                   unit_id
        FROM `teacher_profile` t,`school_unit` su
        WHERE t.unit_id=su.id
        AND t.unit_id IN (SELECT id FROM `school_unit` su WHERE su.school_domain=#{schoolDomain})
        <if test="state == 1 or state == 2">
            and (t.state=1 or t.state = 2)
        </if>
        <if test="state != 1 and state != 2">
            and t.state!=1 and t.state != 2
        </if>
        <if test="key == 'pinyin'">
            ORDER BY
            pinyin
        </if>
        <if test="key == 'update_time'">
            ORDER BY
            update_time
        </if>
        <if test="sort == 'desc'">
            desc
        </if>
        LIMIT #{offSet},#{pageRow}
    </select>
    <select id="listTeacherByUnit" resultType="com.alibaba.fastjson.JSONObject">
        select
        t.id                                      id,
        t.username                                name,
        t.email                                   email,
        t.avatar                                  avatar,
        t.degree                                  degree,
        t.state                                   state,
        t.views                                   views,
        t.post                                    post,
        t.scholat_username                        scholat_username,
        t.pinyin                                  pinyin,
        t.domain_name                             domainName,
        t.edit_name                             editName,
        date_format(t.update_time, '%Y.%m.%d %T') update_time,
        date_format(t.create_time, '%Y.%m.%d %T') create_time,
        s.domain_name                             school_unit_domainName,
        s.unit_name                             unit_name
        FROM teacher_profile t left join school_unit s on t.unit_id=s.id
        WHERE t.unit_id = #{unitId}
        <if test="state == 1 or state == 2">
            and (t.state=1 or t.state = 2)
        </if>
        <if test="state != 1 and state != 2">
            and t.state!=1 and t.state != 2
        </if>
        <if test="key == 'pinyin'">
            ORDER BY
            pinyin
        </if>
        <if test="key == 'update_time'">
            ORDER BY
            update_time
        </if>
        <if test="sort == 'desc'">
            desc
        </if>
        LIMIT #{offSet},#{pageRow}
    </select>
    <select id="countKeyTeacher" resultType="Integer">
        SELECT count(0)
        FROM teacher_profile t
        WHERE t.state = '1'
        AND t.unit_id IN (SELECT id FROM school_unit
                WHERE school_unit.school_domain IN
                (SELECT school_domain FROM school WHERE school.id=#{schoolId}))
        AND(t.username LIKE CONCAT('%', #{key}, '%')
        OR  t.post LIKE CONCAT('%', #{key}, '%')
        OR  t.phone LIKE CONCAT('%', #{key}, '%')
        OR  t.email LIKE CONCAT('%', #{key}, '%')
        OR  t.degree LIKE CONCAT('%', #{key}, '%')
        OR  t.scholat_username LIKE CONCAT('%', #{key}, '%')
        OR  t.research_direction LIKE CONCAT('%', #{key}, '%')
        )
    </select>
    <select id="searchTeacher" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        t.id                                      id,
        t.username                                name,
        t.email                                   email,
        t.avatar                                  avatar,
        t.state                                   state,
        t.views                                   views,
        t.post                                    post,
        t.scholat_username                        scholat_username,
        t.domain_name                        domainName,
        date_format(t.update_time, '%Y.%m.%d %T') update_time,
        date_format(t.create_time, '%Y.%m.%d %T') create_time
        FROM teacher_profile t
        WHERE
        t.unit_id IN (SELECT id FROM school_unit
                WHERE school_unit.school_domain IN
                (SELECT school_domain FROM school WHERE school.id=#{schoolId}))
        AND(t.username LIKE CONCAT('%', #{key}, '%')
        OR  t.post LIKE CONCAT('%', #{key}, '%')
        OR  t.phone LIKE CONCAT('%', #{key}, '%')
        OR  t.email LIKE CONCAT('%', #{key}, '%')
        OR  t.degree LIKE CONCAT('%', #{key}, '%')
        OR  t.scholat_username LIKE CONCAT('%', #{key}, '%')
        OR  t.research_direction LIKE CONCAT('%', #{key}, '%')
        )
        ORDER BY scholat_update_time desc
        LIMIT #{offSet},#{pageRow}
    </select>

    <update id="updateSchoolInfo">
        update school
        SET school_url = #{schoolUrl},
        school_eng=#{schoolEng}
        WHERE id = #{schoolId}
    </update>
    <select id="getUnitList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        s.id        unitId,
        s.school_name schoolName,
        s.school_eng schoolEng,
        s.unit_name  unitName,
        s.background_url backgroundUrl
        FROM
        school_unit s
        WHERE
        s.school_domain = #{schoolDomain}
    </select>
</mapper>